:root{
    --grey:#212121;
    --green:#009660;
    --white:#e9e9e9;
    --black:#0c0c0c;
    --lgray:#929292;
    --dgray:#141313;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    color: var(--white);
}
body{
    background-color: var(--black);
}
.green{
    color: var(--green);
}
.green-bg{
    background-color: var(--green);
}
.gray-bg{
    background-color: var(--grey);
}
.lgray{
    color: var(--lgray);
}
nav{
    padding: 15px 40px;
    display: flex;
    justify-content:space-between;
    /* background-color: var(--black); */
    position: fixed;
    width: 100%;
}
#nav1{
    display: flex;
    align-items: center;
    gap:12px;
}
#nav1 img{
    height: 45px;
    cursor: pointer;
}
#nav1 h6{
    font-size: 1.2em;
    cursor: pointer;
    letter-spacing: .2px;
}
#nav2{
    display: flex;
    align-items: center;
    gap: 35px;
}
#nav2 h4{
    font-size: 1.4em;
    font-family: monospace;
    cursor: pointer;
}
.ring , .menu{
    display: none;
}

#nav2 img{
    object-fit:cover;
    object-position:left;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1.3px solid white;
}
#nav3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 14px;
    display: none;
    /* display: none; */
}

/* nav responsive code */
@media (max-width:900px) {
    nav{
        padding: 10px 25px;
    }
    #nav1 img{
        height: 35px;
    }
    #nav1 h6{
        font-size:1.1em;
    }
    #nav2{
        display: none;
    }
    #nav2 h5{
        cursor: pointer;
        display: block;
    }
    #nav3{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}


/* main code */
main{
    padding-top: 100px;
}
.section1{
    display: flex;
    align-items: flex-start;
    justify-content:space-between ;
    padding: 15px 50px;
}

.section1 .left{
    /* background-color: red; */
    width: 40%;
}
.section1 .left h2{
    font-size: 50px;
    /* font-family:'Times New Roman', Times, serif; */
    font-weight: 600;
    font-style: normal;
}
.tags{
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap
}
.tags h4{
    margin: 2px;
    padding: 10px 20px; 
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
    background-color: var(--grey);
}
.left .price{
    font-size: 35px;
}
.left .lgray{
    font-size: 25px;
    text-decoration:line-through;
}
.left .gst{
    font-size: 25px;

}
.left .scratch ,.st-btc{
    font-size: 18px;
    padding: 10px 0px;
}
.left .btn-pg1{
    margin: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.btn{
    flex-wrap: wrap;
    padding:4% 15%; 
    gap: 1px;
    white-space: nowrap;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: var(--white);
}
/* left pg1 completed */



/*section right - pg1 img and other boxes */
.section1 .right{
    width: 47%;
}
.section1 .right{
    border-radius:12px;
}
.section1 .right .right-img-card {
    background-color: var(--grey);
    height: 580px;
    width: 675px;
    
}

.section1 .right .right-img-card .tag{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:  2px 14px;
    gap:12px;
    margin-top: 45px;
}
.section1 .right .right-img-card .tag h4{
    background-color: var(--dgray);
    padding: 14px 10px;
    margin: 6px 10px;
    font-size: 18px;
    white-space: nowrap;
    border-radius: 6px;
}
.pg1-img{
    height: 380px;
}


/* right completed and page 1 completed */
/* pg1 completed and now responsive for first page */
@media (max-width:900px) {
    .section1{
        width: 100vh;
        margin: 4px;
        padding:12px;
    }
    .section1 .left{
        width: 100%;
        padding: 3px 18px;
    }
    .section1 .left h2{
        margin-top: 35px;
        white-space: wrap;
    }
    .section1{
        display:flex ;
        align-items: center;
        flex-direction: column-reverse;
    }
    .section1 .right{
        width:100%;
        padding-top: 50px;
        /* background-color: slateblue; */
        display:flex ;
        justify-content: center;
    }
    .section1 .right .right-img-card {
    background-color: var(--grey);
    height: 580px;
    width: 580px;
    }
    .pg1-img{
    height: 380px;
    width: 580px;
    }
    
}